# World Happiness Report

Verificando versão

In [1]:
!python -V

Python 3.11.1

Imports

In [1]:
import pandas as pd

Importando Datasets

In [2]:
#Dataset ano 2015
dataset2015 = pd.read_csv('2015.csv', sep = ',')
#Dataset ano 2016
dataset2016 = pd.read_csv('2016.csv', sep = ',')
#Dataset ano 2017
dataset2017 = pd.read_csv('2017.csv', sep = ',')
#Dataset ano 2018
dataset2018 = pd.read_csv('2018.csv', sep = ',')
#Dataset ano 2019
dataset2019 = pd.read_csv('2019.csv', sep = ',')

In [3]:
#Dataset ano 2015
dataset2015 = pd.read_csv('2015.csv', sep = ',')
dataset2015['year'] = '2015'
#Dataset ano 2016
dataset2016 = pd.read_csv('2016.csv', sep = ',')
dataset2016['year'] = '2016'
#Dataset ano 2017
dataset2017 = pd.read_csv('2017.csv', sep = ',')
dataset2017['year'] = '2017'
#Dataset ano 2018
dataset2018 = pd.read_csv('2018.csv', sep = ',')
dataset2018['year'] = '2018'
#Dataset ano 2019
dataset2019 = pd.read_csv('2019.csv', sep = ',')
dataset2019['year'] = '2019'

In [4]:
dataset2015

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,2015
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,2015

In [6]:
dataset2016

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,2016
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,2016
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,2016
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2016
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2016

In [7]:
dataset2017

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061,2017
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,2017
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130,2017
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,2017
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,2017

In [8]:
dataset2018

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [9]:
dataset2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

Analisando as variáveis de cada Dataset

In [10]:
print(list(dataset2015.columns))

['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual', 'year']

In [11]:
print(list(dataset2016.columns))

['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual', 'year']

In [12]:
print(list(dataset2017.columns))

['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual', 'year']

In [13]:
print(list(dataset2018.columns))

['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'year']

In [14]:
print(list(dataset2019.columns))

['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'year']

Somando a variável região dos datasets 2015, 2016

In [15]:
region_list1 = dataset2015['Region'].to_list()
region_list2 = dataset2016['Region'].to_list()
region_list = list(set(region_list1 + region_list2))

Comparando a variável Country do dataset2017 com a lista region_list

In [16]:
dataset2017[dataset2017['Country'].isin(region_list)]

Empty DataFrame
Columns: [Country, Happiness.Rank, Happiness.Score, Whisker.high, Whisker.low, Economy..GDP.per.Capita., Family, Health..Life.Expectancy., Freedom, Generosity, Trust..Government.Corruption., Dystopia.Residual, year]
Index: []

In [17]:
dataset2018[dataset2018['Country or region'].isin(region_list)]

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, year]
Index: []

In [18]:
dataset2019[dataset2019['Country or region'].isin(region_list)]

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, year]
Index: []

Tratando as variável dos datasets para gerar um único dataset

* Datasets com variável Country or region devem ter o nome da coluna alterado para country
* A coluna de region deve ser retirada
* Datasets com variável Happiness.Rank renomear para happiness_rank
* Datasets com variável Happiness.Score renomear para happiness_score
* Váriavel de escore para os anos de 2018 e 2019 devem ter o nome corrigido
* Remover a variável standard error do ano de 2015 
* A variável (GDP per capita) precisa ter o nome normalizado entre todos os datasets
* Para o dataset de 2016, remover as variáveis lower confidence interval, upper confidence interval

Renomeando as colunas dos datasets

2015

In [19]:
print(list(dataset2015.columns))

['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual', 'year']

In [20]:
dataset2015.rename(columns={'Country': 'country',
                            'Happiness Rank': 'happiness_rank',
                            'Happiness Score': 'happiness_score',
                            'Economy (GDP per Capita)': 'gdp_per_capita',
                            'Family': 'family',
                            'Health (Life Expectancy)': 'life_expect',
                            'Freedom': 'freedom',
                            'Trust (Government Corruption)': 'trust_gc',
                            'Generosity': 'generosity'},inplace = True)
dataset2015.drop(columns=['Region','Standard Error','Dystopia Residual'],axis=1, inplace=True)

In [21]:
dataset2015.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expect,freedom,trust_gc,generosity,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

2016

In [22]:
print(list(dataset2016.columns))

['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual', 'year']

In [23]:
dataset2016.rename(columns={'Country': 'country',
                            'Happiness Rank': 'happiness_rank',
                            'Happiness Score': 'happiness_score',
                            'Economy (GDP per Capita)': 'gdp_per_capita',
                            'Family': 'family',
                            'Health (Life Expectancy)': 'life_expect',
                            'Freedom': 'freedom',
                            'Trust (Government Corruption)': 'trust_gc',
                            'Generosity': 'generosity'},inplace = True)
dataset2016.drop(columns=['Region','Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'],axis=1, inplace=True)

In [24]:
dataset2016.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expect,freedom,trust_gc,generosity,year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

2017

In [25]:
print(list(dataset2017.columns))

['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual', 'year']

In [26]:
dataset2017.rename(columns={'Country': 'country',
                            'Happiness.Rank': 'happiness_rank',
                            'Happiness.Score': 'happiness_score',
                            'Economy..GDP.per.Capita.': 'gdp_per_capita',
                            'Family': 'family',
                            'Health..Life.Expectancy.': 'life_expect',
                            'Freedom': 'freedom',
                            'Trust..Government.Corruption.': 'trust_gc',
                            'Generosity': 'generosity'},inplace = True)
dataset2017.drop(columns=['Whisker.high', 'Whisker.low', 'Dystopia.Residual'],axis=1, inplace=True)

In [27]:
dataset2017.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expect,freedom,generosity,trust_gc,year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

2018

In [28]:
print(list(dataset2018.columns))

['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'year']

In [29]:
dataset2018.rename(columns={'Country or region': 'country',
                            'Overall rank': 'happiness_rank',
                            'Score': 'happiness_score',
                            'GDP per capita': 'gdp_per_capita',
                            'Social support': 'social_support',
                            'Healthy life expectancy': 'life_expect',
                            'Freedom to make life choices': 'freedom',
                            'Perceptions of corruption': 'trust_gc',
                            'Generosity': 'generosity'},inplace = True)

In [30]:
dataset2018.head()

,happiness_rank,country,happiness_score,gdp_per_capita,social_support,life_expect,freedom,generosity,trust_gc,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

2019

In [31]:
print(list(dataset2019.columns))

['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'year']

In [32]:
dataset2019.rename(columns={'Country or region': 'country',
                            'Overall rank': 'happiness_rank',
                            'Score': 'happiness_score',
                            'GDP per capita': 'gdp_per_capita',
                            'Social support': 'social_support',
                            'Healthy life expectancy': 'life_expect',
                            'Freedom to make life choices': 'freedom',
                            'Perceptions of corruption': 'trust_gc',
                            'Generosity': 'generosity'},inplace = True)

In [33]:
dataset2019.head()

,happiness_rank,country,happiness_score,gdp_per_capita,social_support,life_expect,freedom,generosity,trust_gc,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

Concatenando todos os datasets tratados

In [34]:
all_datasets = pd.concat([dataset2015, dataset2016, dataset2017, dataset2018, dataset2019],axis=0)

In [35]:
all_datasets

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expect,freedom,trust_gc,generosity,year,social_support
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015,NaN
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015,NaN
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015,NaN
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015,NaN
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015,NaN
...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.35900,NaN,0.61400,0.55500,0.41100,0.21700,2019,0.711
152,Tanzania,153,3.231,0.47600,NaN,0.49900,0.41700,0.14700,0.27600,2019,0.885
153,Afghanistan,154,3.203,0.35000,NaN,0.36100,0.00000,0.02500,0.15800,2019,0.517
154,Central African Republic,155,3.083,0.02600,NaN,0.10500,0.22500,0.03500,0.23500,2019,0.000
155,South Sudan,156,2.853,0.30600,NaN,0.29500,0.01000,0.09100,0.20200,2019,0.575

Validação de métricas

In [36]:
all_datasets.describe()

,happiness_rank,happiness_score,gdp_per_capita,family,life_expect,freedom,trust_gc,generosity,social_support
count,782.000000,782.000000,782.000000,470.000000,782.000000,782.000000,781.000000,782.000000,312.000000
mean,78.698210,5.379018,0.916047,0.990347,0.612416,0.411091,0.125436,0.218576,1.211026
std,45.182384,1.127456,0.407340,0.318707,0.248309,0.152880,0.105816,0.122321,0.300310
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,4.509750,0.606500,0.793000,0.440183,0.309768,0.054000,0.130000,1.055750
50%,79.000000,5.322000,0.982205,1.025665,0.647310,0.431000,0.091000,0.201982,1.265500
75%,118.000000,6.189500,1.236187,1.228745,0.808000,0.531000,0.156030,0.278832,1.457500
max,158.000000,7.769000,2.096000,1.610574,1.141000,0.724000,0.551910,0.838075,1.644000

In [37]:
all_datasets.to_csv('./all_datasets.csv')

c:\Envs\data-analysis\Lib\site-packages\pandas\core\internals\blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)